<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="swover">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix="Test.php">./tests</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/codeCoverage" charset="UTF-8"/>
    </logging>
</phpunit>